/* Custom modal width */
.modal-dialog {
    max-width: 100%;
    margin: 0 auto;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    padding-bottom: 0;
    /* Remove bottom padding to reduce space */
}

.modal-title {
    margin-bottom: 5px;
    /* Reduce space below the title */
}

.modal-header .btn-close {
    position: absolute;
    right: 0;
    /* Align the close button to the right */
    top: 50%;
    transform: translateY(-50%);
    margin-right: 15px;
    /* Adjust spacing from the right */
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding-top: 0;
    /* Remove top padding to reduce space */
}

.modal-body form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    /* Remove any top margin on the form */
}

.modal-body input {
    flex-grow: 1;
    margin-right: 10px;
    /* Space between input and button */
}