html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}

.fullscreen-background {
    position: fixed;
    /* Fixes it to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Ensure it stays behind other content */
}

.fullscreen-background img {
    width: 100%;
    /* Cover the full width */
    height: 100%;
    /* Cover the full height */
    object-fit: cover;
    /* Maintain aspect ratio while covering */
}

/* Custom modal width */
.modal-dialog {
    max-width: 100%;
    margin: 0 auto;
}


.navbar .nav-link {
    color: black;
    margin-right: 40px;
    text-decoration: none;
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: black;
    /* Keep text color black on hover */
}

.navbar-nav .nav-link::after {
    content: "";
    /* Create a pseudo-element */
    display: block;
    /* Make it a block element */
    height: 2px;
    /* Height of the underline */
    background: black;
    /* Color of the underline */
    transition: width 0.3s;
    /* Smooth transition for the width */
    width: 0;
    /* Start with no width */
    position: absolute;
    /* Position it absolutely */
    left: 50%;
    /* Start from the center */
    bottom: -5px;
    /* Position below the text */
    transform: translateX(-50%);
    /* Center it */
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    /* Full width on hover */
}

.navbar-brand img {
    width: auto;
    /* Maintain aspect ratio */
    height: 80px;
    /* Set a height that fits your navbar */
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    padding-bottom: 0;
    /* Remove bottom padding to reduce space */
}

.modal-title {
    margin-bottom: 5px;
    /* Reduce space below the title */
}

.modal-header .btn-close {
    position: absolute;
    right: 0;
    /* Align the close button to the right */
    top: 50%;
    transform: translateY(-50%);
    margin-right: 15px;
    /* Adjust spacing from the right */
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
    padding-top: 0;
    /* Remove top padding to reduce space */
}

.modal-body form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    /* Remove any top margin on the form */
}

.modal-body input {
    flex-grow: 1;
    margin-right: 10px;
    /* Space between input and button */
}